
.header{
	background-color:#557968;
	display:flex;
	justify-content: center;
}

/*navigation*/
.nav{
	border-left: 4px solid #f0edea;
	margin-left: 3%;
	margin-right: 3%;
}
.nav-bean {
	width: 15px;
	margin-right: 10px;
}

.main-nav{
	font-size:1.3rem;
	margin:0 0 0 10px;
	list-style:none;
	width: 100%;
	line-height:3rem;
	padding-top: 2.5rem;
}
.main-nav a{
	color:#f0edea;
	letter-spacing:0.2rem;
}
.main-nav img{
	margin-left:25px;
}

.header__hamburger {
	display: none;
}

.header__nav {
	display: none;
}

/*logo*/
.logos{
	justify-content: center;
    display: flex;
	margin: 15px auto;
}
.logo{
	display:flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin:10px auto 20px;
}

/* ラインメールの問い合わせ先ボタン */
.inquiries {
    display:block;
    white-space:nowrap;
}
.button{
	font-size:0.9rem;
	font-weight:100;
	letter-spacing:0.25rem;
	vertical-align:center;
	color:#f0edea;
	border:3px solid #f0edea;
	border-radius: 100px;
	padding:18px 15px;
	margin: 0px 8px;
}
.button:hover{
	color:#FFFFFF;
	background:#4f6f5f;
}
.button img{
	height:28px;
	padding-right:20px;
	vertical-align:top;
}

/*mokomoko*/
.moko{
	height:70px;
	width:100vw;
	background-image: url("../images/green3.svg");
	background-repeat:repeat-x;
}
.moko img{
	height:70px;
}

@media (max-width: 850px) {
	.main-nav{
		font-size:1rem;
		line-height:2.8rem;
	}
	.main-nav a{
		letter-spacing:0.15rem;
	}
	.main-nav img{
		margin-left:22px;
	}
}

/* タブレットサイズ */
@media (max-width: 800px) {
	/* 中央ロゴ */
    .logos{
        justify-content: center;
		display: flex;
		margin: 10px auto;
    }
	.logo{
		display:flex;
		justify-content: center;
		align-items: center;
		width: 80%;
		margin: 10px auto 20px;
	}

	/* 問い合わせ先 */
	.button{
		font-size: 0.8rem;
		font-weight: 100;
		letter-spacing: 0.25rem;
		vertical-align: center;
		color: #f0edea;
		border: 2px solid #f0edea;
		border-radius: 80px;
		padding:14px 11px;
		margin: 0px 8px;
	}
	.button:hover{
		color:#FFFFFF;
		background:#4f6f5f;
	}
	.button img{
		height:24px;
		padding-right:20px;
		vertical-align:top;
	}
}

@media (max-width: 750px) {
	/* 左メニュー */
	.nav {
        border-left: unset;
		display: none;
	}
	.main-nav {
		display: none;
	}
	.nav-bean {
		display: none;
	}
    .green {
        background-color:#557968;
        display: block;
    }
}


@media screen and (max-width: 400px), (max-device-width: 400px) {
	.logos{
        justify-content: center;
		display: block;
		margin: 10px;
    }
	.nav {
        border-left: unset;
		display: none;
	}
	.main-nav {
		display: none;
	}
	.nav-bean {
		display: none;
	}
    .green {
        background-color:#557968;
        display: block;
    }

	.header__hamburger {
		margin-left: auto;
		display: unset;
		width: 48px;
		height: 55px;
		margin: 20px;
	}
	
	.hamburger {
		background-color: transparent;
		border-color: transparent;
		z-index: 9999;
	}
	
	/* ハンバーガーメニューの線 */
	.hamburger span {
		line-height:2.2rem;
		width: 100%;
		height: 1.5px;
		background-color: #f0edea;
		position: relative;
		transition: ease .4s;
		display: block;
	}
	
	.hamburger span:nth-child(1) {
		top: 0;
	}
	
	.hamburger span:nth-child(2) {
		margin: 8px 0;
	}
	
	.hamburger span:nth-child(3) {
		top: 0;
	}
	
	/* ハンバーガーメニュークリック後のスタイル */
	.header__nav.active {
		transform: translateX(0);
		display: block;	
	}
	
	.hamburger.active span:nth-child(1) {
		top: 5px;
		transform: rotate(45deg);
	}
	
	.hamburger.active span:nth-child(2) {
		opacity: 0;  
	}
	
	.hamburger.active span:nth-child(3) {
		top: -13px;
		transform: rotate(-45deg);
	}	
}

/* @media screen and (max-width: 768px) {
	.nav {
        border-left: unset;
		display: none;
	}
	.main-nav {
		display: none;
	}
	.nav-bean {
		display: none;
	}
    .green {
        background-color:#557968;
        display: block;
    }
    .logos{
        margin-right: 0;
        text-align:center;
    }
} */

@media (max-width: 970px) {
	/* .nav {
		display: none;
	}
	.main-nav {
		display: none;
	}
	.nav-bean{
		display: none;
	} */
}

/* タブレットサイズ */
@media (max-width: 800px) {
	
}

/* タブレットサイズ */
@media (max-width: 400px) {
	/* .nav {
        border-left: unset;
		display: none;
	}
	.main-nav {
		display: none;
	}
	.nav-bean {
		display: none;
	}
    .green {
        background-color:#557968;
        display: block;
    }
    .logos{
        margin-right: 0;
        text-align:center;
    } */
}



/* --- 以下スマホサイズの時に横に追従するメニュー（css調整終わってない） */
/* #side {
	position: sticky;
	top: 20px;
	width: 150px;
	right: 0;
	top: 0;
}
.side {
	box-sizing: border-box;

	position: absolute;
	width: 210px;
	height: 444px;
	left: 1243px;
	top: 302px;

	background: #F0EDEA;
	border: 8px solid #D1C9C0;
	border-radius: 22px;
}
.menu {
	box-sizing: border-box;

	position: absolute;
	width: 97px;
	height: 97px;
	left: 1300px;
	top: 596px;

	border: 6px solid #557968;
} */
/* --- スマホサイズの時に横に追従するメニューここまで */


/* --- 以下ヘッダーが途中で変わる処理（使う時にJavaScriptと一緒にコメントアウト外す） */
/* HeightMinというクラス名がついたら最前面に出して上部固定に*/
/* #header.HeightMin{
	position: fixed;
    z-index: 999;
	animation: DownAnime 0.5s forwards;
} */

/* @keyframes DownAnime{
	from {
		opacity: 0;
	  transform: translateY(-170px);
	}
	to {
		opacity: 1;
	  transform: translateY(0);
	}
  } */
  
/* --- 以下ヘッダーが途中で変わる処理ここまで */

