
.green{
	background-color:#557968;
	display:flex;
	justify-content:space-between;
}

/* --- 以下ヘッダーが途中で変わる処理（使う時にJavaScriptと一緒にコメントアウト外す） */
/* HeightMinというクラス名がついたら最前面に出して上部固定に*/
/* #header.HeightMin{
	position: fixed;
    z-index: 999;
	animation: DownAnime 0.5s forwards;
} */

/* @keyframes DownAnime{
	from {
		opacity: 0;
	  transform: translateY(-170px);
	}
	to {
		opacity: 1;
	  transform: translateY(0);
	}
  } */
  
/* --- 以下ヘッダーが途中で変わる処理ここまで */


/*navigation*/
.nav{
	border-left: 3px solid #f0edea;
	margin-left: 80px;
}
.nav-bean {
	width:15px;
	margin-right:15px;
}


.main-nav{
	font-size:1.2rem;
	margin:0 0 0 10px;
	list-style:none;
	width:300px;
	line-height:3.2rem;
	padding:2.5rem 0 2rem ;
}
.main-nav a{
	color:#f0edea;
	letter-spacing:0.4rem;
}
.main-nav img{
	margin-left:25px;
}

@media (max-width: 970px) {
	/* .nav {
		display: none;
	}
	.main-nav {
		display: none;
	}
	.nav-bean{
		display: none;
	} */
}


/* タブレットサイズ */
@media (max-width: 800px) {
	.nav {
        border-left: unset;
		display: none;
	}
	.main-nav {
		display: none;
	}
	.nav-bean {
		display: none;
	}
    .green {
        background-color:#557968;
        display: block;
    }
    .logos{
        margin-right: 0;
        text-align:center;
    }
}


/* --- 以下スマホサイズの時に横に追従するメニュー（css調整終わってない） */
#side {
	position: sticky;
	top: 20px;
	width: 150px; /* サイドメニューの幅 */
	right: 0;
	top: 0;
}
.side {
	box-sizing: border-box;

	position: absolute;
	width: 210px;
	height: 444px;
	left: 1243px;
	top: 302px;

	background: #F0EDEA;
	border: 8px solid #D1C9C0;
	border-radius: 22px;
}
.menu {
	box-sizing: border-box;

	position: absolute;
	width: 97px;
	height: 97px;
	left: 1300px;
	top: 596px;

	border: 6px solid #557968;
}
/* --- スマホサイズの時に横に追従するメニューここまで */


#home {
	position: relative;
}

/*logo*/
.logos{
	justify-content: center;
	margin-right: 3%;
    display: block;
}
.logo{
	justify-content: center;
	width:520px;
	margin:50px auto;
	text-align:center;
}


.inquiries {
    display:block;
    white-space:nowrap;
}
/*button*/
.button{
	font-size:0.9rem;
	font-weight:100;
	letter-spacing:0.25rem;
	vertical-align:center;
	color:#f0edea;
	border:3px solid #f0edea;
	border-radius: 100px;
	padding:18px 15px;
	margin: 0px 8px;
}
.button:hover{
	color:#FFFFFF;
	background:#4f6f5f;
}
.button img{
	height:28px;
	padding-right:20px;
	vertical-align:top;
}

/*mokomoko*/
.moko{
	height:70px;
	width:100vw;
	background-image: url("../images/green3.svg");
	background-repeat:repeat-x;
}
.moko img{
	height:70px;
}


