@charset "UTF-8";

/* 共通部分
----------------------------------------------*/
html{
	font-size:100%;
}
body{
	font-family:'Kiwi Maru Light','Kiwi Maru Regular', 'Kiwi Maru Medium'/*"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif"*/;
	line-height:1.7;
	color:#557968;
	background-color:#d1c9c0;
}
a {
	text-decoration:none;
	padding:5px;
}
.pc{
	display:block !important;
}
.sp{
	display:none !important;
}

.side-menu {
	display: none;
}


@media screen and (max-width: 400px), (max-device-width: 400px) {

	.side-menu {
		display: bolck;

		/* position: absolute; */
		top: 370px;
		right: 0px;
		height:80px;
		text-align: right;

		/* Rectangle 66 */

		box-sizing: border-box;

		/* position: absolute; */
		width: 100px;
		height: 444px;
		left: 1243px;
		top: 302px;

		background: #F0EDEA;
		border: 8px solid #D1C9C0;
		border-radius: 22px;


		/* -webkit-box-align: center;
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 16px; */
		height: fit-content;
		position: sticky;
		/* top: 16px; */
		z-index: 5;
	}

	.side-menu-icon {
		/* Ellipse 64 */

		/* box-sizing: border-box; */

		/* position: relative;
		width: 97px;
		height: 97px; */
		/* left: 1300px;
		top: 596px; */

		border: 6px solid #557968;

		/* ベルの無料のアイコン素材 その2 (1) 1 */

		/* position: absolute;
		width: 50px;
		height: 50px;
		left: 1324px;
		top: 620px;

		background: url(ベルの無料のアイコン素材 その2 (1).png); */


	}
}
/*h3{
	font-size:2.6rem;
	font-weight:bold;
	margin:2.5rem 0 1.8rem;
	letter-spacing:0.9rem;
}*/

/*a{
	color:#746554;
	font-weight:bold;
}*/
a:hover{
	color:#FFFFFF;
}



/* HEADER
---------------------------------*/
/*.page_header{
	padding:0;
	background-color:#FFFCF5;
	display:flex;
	justify-content:space-around;
	position:fixed;
	width:100%;
}
h1 img{
	width:260px;
	margin-top:10px;
}
/*.main-nav{
	display:flex;
	font-size:1.5rem;
	margin-top:16px;
	list-style:none;
	width:950px;
}
.main-nav li{
	margin-left:7px;
}
.main-nav a{
	color:#130F0F;
	font-size:1.3rem;
	font-weight:1000;
	padding:0;
	letter-spacing:3px;	
}
.main-nav span{
	color:lightgray;
	font-weight:1;
}
.main-nav a:hover{
	color:#D95057;
}

----------------*/



/* HOME
---------------------------------------------*/
/*.home-content{
	text-align:left;
	margin:0 0 0 6rem;
	padding:11rem 1.2rem 0;
	color:whitesmoke;
	text-shadow:3px 3px 3px #555,3px 3px 3px #555;
	backgorund-color:#FBF3DC;
}
.home-content p{
	font-size:1.7rem;
	font-weight:bold;
	letter-spacing:0.1em;
}
.home-content a{
	padding:1rem 7rem;
	display:flex;
	justify-content:flex-end;
}
.flag{
	display:flex;
	justify-content:space-between;
}
.flag img{
	height:140px;
	margin-top:70px;
}

/*見出し*/
/*.page-title{
	font-size:3.7rem;
	font-weight:bold;
}

/*大きな背景画像*/
/*.big-bg{
	background-size:cover;
	background-position:center top;
	background-repeat:no-repeat;
}
#home{
	background-image:url("../images/iw19c_2974.JPG");
	min-height:50vh;
}*/

/* .tori {
	height:80px;
	margin:90px 0 0 10%;
} */
/* TOPPAGE
----------------------------------------------------------------------*/
