@charset "UTF-8";


/* TOPPAGE
----------------------------------------------------------------------*/
.toppage{
	background-color:#f0edea;
	font-size:1rem;
	clip-path: polygon(50% 0.8%, 91.2% 2.4%, 91.2% 100%, 8.3% 100%, 8.3% 2.4%);
	text-align:center;
	margin: 40px auto 0;
	padding-top: 0;
	position: relative;
	width:100%;
}

/* TODO:  */
.tori {
	position: absolute;
	top: 370px;
	left: 140px;
	height:80px;
}

@media (max-width: 750px) {
	.tori {
		top: 280px;
		height: 70px;
	}
}

@media screen and (max-width: 400px), (max-device-width: 400px) {
	.tori {
		top: 320px;
	}		
}

.home-content {
	text-align:center;
	width:100%;
	margin:0px auto ;
}
.page-title{
	width:50%;
	margin:0px auto ;
	padding:15% 0 40px;
}
.home-content p{
	line-height:2.2rem;
	letter-spacing: 0.1rem;
	color:#746554;
}
.home-content span{
	line-height:3.2rem;
	letter-spacing: 0.7rem;
	font-size:1.7rem;
	font-weight:900;
}
.main{
	display: block;
	position: relative;
	width:100%;
	height:850px;
	margin:0px auto ;
	padding:15% 0 40px;
}

.div1 { 
	position:absolute;
	top: 40px;
	left: calc(45% - 350px);
}
.lamp{
	width:650px;
	margin:0px 110px 0px 0;	
}
.div2 { 
	position: absolute;
	top: 200px;
	left: calc(45% - 450px);
	width: 500px;
}
.div2 img{
	width: 50%;
	height: 60%;
	margin:0px 0px 0 0%;	
	padding: 0;
}
.div3 { 
	position:absolute;
	top:210px;
	left: calc(45% - 100px);
}
.div4 { 
	position:absolute;
	top:340px;
	left: calc(45% - 100px);
}
.div5 { 
	position:absolute;
	top:500px;
	left: calc(45% - 100px);
}
.div5 img{
	width:260px;
	height:auto;
}
.div6 { 
	position:absolute;
	top:450px;
	left: calc(49% + 100px);
}
.div6 img{
	width:250px;
	height:auto;
}
.div7 { 
	position:absolute;
	top:100px;
	left: calc(10% - 200px);
	width: 600px;
	height:500px;
	border-radius:670px 320px 410px 460px / 420px 300px 590px 550px ;
	background:#FAF9F8;
	margin:0px 10% 0 30%;	
}

/* TOPPAGE
----------------------------------------------------------------------*/
.h3{
	position:relative;
	height:250px;
}
h3{
	font-size:2rem;
	color:#746554;
	line-height:4.2rem;
	text-align:center;
	letter-spacing:0.8rem;
	padding: 20px;
}
h3 span{
	font-size:1.6rem;
	color:#746554;
	line-height:0rem;
}
.h3 img{
	position:absolute;
	top:140px;
	left: calc(45% - 200px);
	width:500px;
}


/*チャート*/
/*.chart{
	position:relative;
	text-align:center;
	width:1000px;
	margin-bottom: 50px;
}*/
.chart-menu{
	position: relative;
	height: 600px;
	top: -90px;
	margin: 0 auto;
	width: 100%;
}
.chart-menu img{
	position: absolute;
	width: 850px;
	top: 80px;
	left: calc(45% - 380px);
}
.chart-menu iframe{
	position: absolute;
	width: 670px;
	height: 350px;
	top: 260px;
	left: calc(45% - 290px);
	border-radius: 5px;
}

.work-parent {
	position: relative;
}

/*できること*/
.work{
	position: relative;
	text-align:right;
	margin:0 auto 30px;
	width:70%;
}
.parent{
	/* position: absolute; */
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	align-items: center;
	/* left: calc(45% - 290px); */
}
.parent img{
	width:320px;
	padding:20px 8px;
}
.parent a:hover{
	opacity: .7;
}

/*more*/
.more{
	position:relative;
	height:250px;
	margin:0 auto;
	width:90%;
}
.more p{
	position:absolute;
	top:0px;
	left: calc(50% - 110px);
	font-size:1.6rem;
	color:#746554;
	letter-spacing:0.6rem;
}
.link a{
	position:absolute;
	top:100px;
	left: calc(50% - 87px);
	font-size:1rem;
	color:#746554;
	height:auto;
}
.link img{
	position:absolute;
	top:-6px;
	right:-195px;
	width:250px;
	height:auto;
}
.link a:hover{
     opacity: .7;
	}

.access iframe{
	margin-bottom: 80px;
	border:70px #557968 solid;
	border-radius:10px;
}
